# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules/

/.next/
/out/
/build
.DS_Store
*.pem
*.log
.env*
next-env.d.ts
/.vscode/


infra/data
public/assets
public/api/tool-metadata
public/api/directives.json

public/sw.js
public/swe-worker-*.js
public/workbox-*.js