# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules/

/.next/
/out/
/build
.DS_Store
*.pem
*.log
.env*
next-env.d.ts
/.vscode/

app/lib/directives/index.ts

infra/data
public/assets
public/api/all-tool-metadata.json

scripts/_data

app/api/generate-tool-resources/_contexts

public/sw.js
public/swe-worker-*.js
public/workbox-*.js